<mat-grid-list [cols]="12" rowHeight="3rem" gutterSize="0.7rem">

  <mat-grid-tile colspan="12" [rowspan]="!isExpandUserForm ? 2 : 6">
    <mat-card>
      <mat-card-content>
        <div class="user-management-header">
          <p>User Management</p>
          <button mat-raised-button color="primary" (click)="expandUserForm()">+ Add User</button>
        </div>

        @if (isExpandUserForm) {
          <div class="user-from-container">
            <form [formGroup]="userForm" class="user-form">
              <mat-form-field appearance="outline">
                <mat-label>Enter User Name</mat-label>
                <input matInput placeholder="Enter User Name" formControlName="userName">
                @if (userForm.get('userName')?.invalid && userForm.get('userName')?.touched) {
                  <mat-error>
                    <span>User Name is required</span>
                  </mat-error>
                }
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Enter Password</mat-label>
                <input matInput placeholder="Enter Password" formControlName="password" type="password">
                @if (userForm.get('password')?.invalid && userForm.get('password')?.touched) {
                  <mat-error>
                    <span>Password is incorrect or empty</span>
                  </mat-error>
                }
              </mat-form-field>

              <div class="user-form-actions">
                <button mat-raised-button color="primary" (click)="expandUserForm()">Cancel</button>
                <button mat-raised-button color="primary">Create User</button>
              </div>
            </form>
          </div>
        }
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
